* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  /* font-family: ; */
}
body {
  /* background-color: aqua !important; */
}

.website-container {
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  box-shadow: 0px -2px 5px rgb(0, 0, 0);
  /* background-color: white; */
}
.dark-mode-switch {
  display: flex;
}

.search-bar {
  margin: 1rem;
  /* padding: 0.5rem; */
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.223);
}
.search-bar input {
  border: 0px;
  width: 100%;
  height: 100%;
  outline: 0;
}
.region-selector {
  /* box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.27); */
  width: 50%;
  margin: 1rem;
  padding: 0.7rem;
}
.region-list {
  display: none;
}
.countries-section {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: auto;
}

.country-1 {
  margin: 20px auto;
  border-radius: 5px 5px 0px 0px;
  width: 90%;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.27);
}
.country-map img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.country-details {
  padding: 40px 0px 100px 40px;
}
.region-list {
  display: none;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.27);
  flex-direction: column;
  align-items: start;
}
.region-selector-btn {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.27);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}
.region-selector-btn button {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.region-list button {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}
.block {
  display: block;
}
